
{% load static %}


<!DOCTYPE html>
<html  lang="en" data-bs-theme="dark">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Unrealizer {% if DEBUG %} (LOCAL) {% endif %}</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>   

	
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}">

	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


    <link href="https://cdn.anychart.com/releases/8.11.0/css/anychart-ui.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.anychart.com/releases/8.11.0/fonts/css/anychart-font.min.css" rel="stylesheet" type="text/css">  
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-stock.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-data-adapter.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-annotations.min.js"></script>


	{% if DEBUG %}
		    <!-- <link href="{% static 'css/style.css' %}" rel="stylesheet"> -->

			<script src="{% static '/js/js_routines_dashboard.js' %}"></script>
			<script src="{% static '/js/js_routines_depth.js' %}"></script>
			<script src="{% static '/js/ajax_handler.js' %}"></script>
			<script src="{% static '/js/pairs.js' %}"></script>
			<script src="{% static '/js/bot.js' %}"></script>
			<script src="{% static '/js/dex.js' %}"></script>
			<script src="{% static '/js/websocket_manager.js' %}"></script>

	{% else %}

			<!-- <link href="https://unrealizer-statics.s3.eu-central-1.amazonaws.com/style.css" rel="stylesheet"  crossorigin="anonymous"> -->

			<script src="https://unrealizer-statics.s3.eu-central-1.amazonaws.com/js_routines_dashboard.js"></script>
			<script src="https://unrealizer-statics.s3.eu-central-1.amazonaws.com/js_routines_depth.js"></script>
			<script src="https://unrealizer-statics.s3.eu-central-1.amazonaws.com/ajax_handler.js"></script>
			<script src="https://unrealizer-statics.s3.eu-central-1.amazonaws.com/pairs.js"></script>
			<script src="https://unrealizer-statics.s3.eu-central-1.amazonaws.com/bot.js"></script>
			<script src="https://unrealizer-statics.s3.eu-central-1.amazonaws.com/dex.js"></script>
			<script src="https://unrealizer-statics.s3.eu-central-1.amazonaws.com/websocket_manager.js"></script>

	{% endif %}

      <script src="https://cdn.plot.ly/plotly-3.1.0.min.js" charset="utf-8"></script>


<style>
	
.mainblock {

    padding: 10px;

    font: 100% / 1.3 monospace, sans-serif;
    font-size: 13px;

    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}



input,
button,
select,
optgroup{
  height: 35px;
}

/* Define the animation */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Apply the animation to the target element */
.elementToFade {
  animation: fadeInOut 2s ease-in-out infinite;
}


  #chart_container {
      width: 100%;
      height: 500px;
      margin: 0;
      padding: 0;
  }


  #logger_textarea{
    font-size: 8px;
  }

.beat {
    animation: pulsate 0.5s;
}

@keyframes pulsate {
    0% { box-shadow: 0 0 10px #fff; }
    25% { box-shadow: 0 0 0 #fff; }
    50% { box-shadow: 0 0 10px #fff; }
    75% { box-shadow: 0 0 0 #fff; }
    100% { box-shadow: 0 0 10px #fff; }
}

.menu-item {
  background-color: rgb(66, 66, 66);
  border-radius: 5px;
  padding: 7px;

  color: #fff;
}

.highborder {
	border-color: #fff;
	border-radius: 3px;
	border-width: 2px;
}


.triangle_up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgb(0, 255, 0);
  display: inline-block;
}   
.triangle_down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgb(255, 0, 0);
  display: inline-block;
}   


.green_circle {
	width: 10px;
	height: 10px;
	background-color: green;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: bold;
}

svg {
  max-width: 20px;
  max-height: 20px;
  height: auto;
  width: 100%;
}   
</style>


</head>
    

<body id="page-top">

  <div class="row mainblock m-4  heart-container" >

	

	<div>
		<div class="d-flex justify-content-between border rounded p-2 mb-3" >

			<a href="/dashboard/" class="menu-item">Positions</a>
			<a href="/orders/" class="menu-item">Orders</a>
			<a href="/pairs/" class="menu-item">Pairs</a>
			<a href="/depth/" class="menu-item">Depth</a>
			<a href="/manual/" class="menu-item">Manual</a>
			<a href="/bot/" class="menu-item">Bot</a>
			<a href="/dex/" class="menu-item">Dex</a>
			<a href="https://etherscan.io/address/0x30127b1414483aE437427d6f107F13fC54a2B62b" target="_blank" class="menu-item">Account</a>
			<a href="/admin34k5jh34KJSHDF345kjh2234sdf/" class="menu-item">Admin</a>
			<a href="/logout/" class="menu-item ">Logout</a>

		</div>         
	</div>       

      <div class="col-10">
        
        <div class="border rounded p-2 highborder">
    
			<div class="d-flex justify-content-between  flex-sm-row flex-column " >

				<div class="d-flex justify-content-between gap-5">
					<div>
						<p class="m-0" id="availableBorrowsBase"></p>
						<p class="m-0" id="totalDebtBase"></p>

					</div>

					<div>
						<p class="m-0" id="totalCollateralBase"></p>
						<p class="m-0" id="currentLiquidationThreshold"></p>
					</div>

					<div>
						<p class="m-0" id="healthFactor"></p>
						<p class="m-0">Total Profit: {{stats.total_profit}} USD</p>

					</div>

				</div>

				<div class="d-flex justify-content-between gap-5">

					<form method="POST"  action="/global/" class="d-flex justify-content-start gap-1">
						{% csrf_token %}

						<input type="text" value="{{request.path}}" name="originating_path" hidden/>

						<select class="form-select form-select-sm" name="active_account__select" style="width: 180px;">
							{% for account in accounts %}
							<option value="{{account}}" {% if account == admin_settings.active_account %} selected {% endif %}  >{{account}}</option>
							{% endfor %}
						</select>
						
						<button type="submit" class="btn btn-primary btn-sm ms-2 disable_while_busy" style="height: 30px;" >Set active account</button>
					
					</form>

				</div>
	
			</div>

			<div class="d-flex justify-content-start mt-2 mb-2 gap-5  flex-sm-row flex-column">


					<form method="POST"  action="/global/" class="d-flex justify-content-start gap-1">
						{% csrf_token %}
						<input type="text" value="{{request.path}}" name="originating_path" hidden/>

						<div class="d-flex justify-content-start">
							<select class="form-select form-select-sm" style="height: 30px; width: 90px;"  name="admin_settings_fiat_coin"  required>
									{% for coin in fiat_coins %}
										<option value="{{coin}}" {% if admin_settings.fiat_coin == coin %} selected {% endif %}   >{{coin}}</option>
									{% endfor %}
							</select>
							<button type="submit" class="btn btn-primary btn-sm ms-2 disable_while_busy" style="height: 30px;" >Set fiat</button>

						</div>
					</form>
		



					<form method="POST"  action="/global/" class="d-flex justify-content-start gap-1">
						{% csrf_token %}
						<input type="text" value="{{request.path}}" name="originating_path" hidden/>

						<input type="number" min="0.1" max="1" step="0.01" class="form-control form-control-sm" name="admin_settings_secure_profit_ratio" value="{{admin_settings.secure_profit_ratio}}" style="width: 80px;"/>
						<button type="submit" class="btn btn-primary btn-sm disable_while_busy" style="height: 30px;" >Set secure profit ratio</button>
					</form>
				

					<form method="POST"  action="/global/" class="d-flex justify-content-start gap-1">
						{% csrf_token %}
						<input type="text" value="{{request.path}}" name="originating_path" hidden/>

						<select class="form-select form-select-sm" style="height: 30px; width: 150px;"  name="admin_settings_gas_speed"  required>
							{% for gas_speed in gas_speeds %}
								<option value="{{gas_speed}}" {% if admin_settings.gas_speed == gas_speed %} selected {% endif %}   >{{gas_speed}}</option>
							{% endfor %}
						</select>
						<button type="submit" class="btn btn-primary btn-sm disable_while_busy" style="height: 30px;" >Set gas speed</button>
					</form>
				
			</div>
				
			<div class="d-flex justify-content-end mt-2 mb-2 gap-5  flex-sm-row flex-column">



					<form method="POST"  action="/global/" class="d-flex justify-content-start gap-1">
						{% csrf_token %}
						<input type="text" value="{{request.path}}" name="originating_path" hidden/>

						<input type="number" min="1" step="1" class="form-control form-control-sm" name="admin_settings_interval" value="{{admin_settings.interval}}" style="width: 50px;"/>
						<button type="submit" class="btn btn-primary btn-sm disable_while_busy" style="height: 30px;" >Set interval</button>
					</form>


					<form method="POST"  action="/global/" class="d-flex justify-content-start gap-1">
						{% csrf_token %}
						<input type="text" value="{{request.path}}" name="originating_path" hidden/>

						<input type="number" min="1" step="1" class="form-control form-control-sm" name="admin_settings_tx_tries" value="{{admin_settings.tx_tries}}" style="width: 50px;"/>
						<button type="submit" class="btn btn-primary btn-sm disable_while_busy" style="height: 30px;" >Set tx tries</button>
					</form>



					<form method="POST"  action="/global/" class="d-flex justify-content-start gap-1">
						{% csrf_token %}
						<input type="text" value="{{request.path}}" name="originating_path" hidden/>

						{% if admin_settings.allow_auto_purchase %}
							<button type="submit" class="btn btn-warning btn-sm disable_while_busy" style="height: 30px;" name="admin_settings_allow_auto_purchase">Allowing auto purchase</button>
						{% else %}
							<button type="submit" class="btn btn-primary btn-sm disable_while_busy" style="height: 30px;" name="admin_settings_allow_auto_purchase">Not allowing auto purchase</button>
						{% endif %}
					</form>





					<button type="button"  class="btn btn-primary btn-sm disable_while_busy" onclick="update_balances();">Update balances</button>


			</div>
			
			

			<div class="d-flex justify-content-start border rounded p-2  flex-sm-row flex-column ">

				
				
				<div class="d-flex justify-content-start ms-5 ">
					<p class="me-3 text-primary"><strong>ETH</strong></p>
					<div>
						<p class=" mb-0" id="admin_settings_balances_eth"> </p>
						<p class=" mt-0" id="admin_settings_balances_eth_value"> </p>
					</div>
				</div>
				

				{% for coin in coins %}

					<div class="d-flex justify-content-start ms-5 ">
						<p class="me-3  text-primary"><strong>{{coin|upper}}</strong></p>
						<div>
							<p class=" mb-0" id="admin_settings_balances_{{coin}}"> </p>
							<p class=" mt-0" id="admin_settings_balances_{{coin}}_value"> </p>
						</div>
					</div>

				{% endfor %}

				<div>
					{% for coin in fiat_coins %}

						<div class="d-flex justify-content-start ms-5 ">
							<p class="me-3  text-primary"><strong>{{coin|upper}}</strong></p>
							<div>
								<p class=" m-0" id="admin_settings_balances_{{coin}}"> </p>
							</div>
						</div>

					{% endfor %}

				</div>

				<p class="ms-5"><span class="text-primary">Total fiat from shorts:</span> {{stats.total_fiat_from_shorts}} USD</p>

			</div>


			
			<div class="d-flex justify-content-between flex-sm-row flex-column m-0">

				{% for coin in coins %}
					<div><h4 class="text-primary mb-0" id="weth_price" ></h4></div>
				{% endfor %}

				<div class="m-0">
					<h4 id="gas_price"  class="m-0"></h4>
				</div>
				<div>
						<p id="prices_update_epoch" class="small m-0"></p>
						<p id="gas_update_epoch" class="small m-0"></p>
				</div>
				<div>
					<p class="small m-0">Uniswap fiat to coin ASM (bear): <span id="uniswap_fiat_to_coin_slippage"></span></p>
					<p class="small m-0">Uniswap coin to fiat ASM (bull): <span id="uniswap_coin_to_fiat_slippage"></span></p>
				</div>			
				<div>
					<p class="small m-0">Sushiswap fiat to coin ASM (bear): <span id="sushiswap_fiat_to_coin_slippage"></span></p>
					<p class="small m-0">Sushiswap coin to fiat ASM (bull): <span id="sushiswap_coin_to_fiat_slippage"></span></p>
				</div>
			</div>

        </div>


      </div>
      <div class="col-2">
        	<textarea class="form-control" id="logger_textarea" rows="20"></textarea>
	  </div>


	  
        <div class="border rounded p-3 mt-3 highborder" >

				{% block basebody %}

				{% endblock %}
		</div>
  </div>



</body>

</html>
