<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>AnyChart: Candlestick, Bar, and Line Series</title>
    <link href="https://cdn.anychart.com/releases/8.11.0/css/anychart-ui.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.anychart.com/releases/8.11.0/fonts/css/anychart-font.min.css" rel="stylesheet" type="text/css">  
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-stock.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-data-adapter.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-annotations.min.js"></script>

  <style>
    html, body, #container {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>
  <div id="container"></div>
  <script>
anychart.onDocumentReady(function () {
  // Sample data: [date, open, high, low, close, volume, ma]
  const data = [
    ['2023-01-01', 100, 110, 95, 105, 1000, 102],
    ['2023-01-02', 105, 115, 100, 110, 1200, 104],
    ['2023-01-03', 110, 118, 108, 112, 900, 106],
    ['2023-01-04', 112, 120, 110, 118, 1500, 108],
    ['2023-01-05', 118, 125, 115, 122, 1300, 110]
  ];

  // Create data table
  const dataTable = anychart.data.table('x');
  dataTable.addData(data);

  // Map data fields
  const mapping = dataTable.mapAs({
    'open': 1,
    'high': 2,
    'low': 3,
    'close': 4
  });

  const volumeMapping = dataTable.mapAs({
    'value': 5  // volume
  });

  const maMapping = dataTable.mapAs({
    'value': 6  // moving average
  });

  // Create stock chart
  const chart = anychart.stock();

  // Get plot
  const plot = chart.plot(0);

  // Add candlestick series
  const candlestick = plot.candlestick(mapping);
  candlestick.name('Price');

  // Add bar series for volume (on the same plot or separate yAxis)
  const volume = plot.column(volumeMapping);
  volume.name('Volume');
  // volume.yAxis().scale().minimum(0);
  volume.fill('gray 0.5');
  volume.legendItem().iconType('square');

  // Optional: Use a separate Y-axis for volume
  // const volumeAxis = chart.yAxis(1);
  // volume.yAxis(volumeAxis);
  // volumeAxis.height('30%');
  // volumeAxis.orientation('right');

  // Add line series for moving average
  const maLine = plot.line(maMapping);
  maLine.name('Moving Average');
  maLine.stroke('blue', 2);

  // Set chart title
  chart.title('Candlestick with Volume Bar and Moving Average Line');

  // Set container id
  chart.container('container');

  // Draw chart
  chart.draw();
});     </script>
</body>
</html>   