{% extends "dashboard/base.html" %}

{% load static %}


{% block basebody %}
{% load custom_tags %}

 





    <!-- Positions -->
    <h2 id="positions__div">Positions ({{positions|length}})</h2>

    {% for position in positions %}

        <div class="border rounded p-2 mb-5">

            <div class="mb-1">{% time_delta_readable position.epoch_created %}</div>
            <div class="d-flex justify-content-between  flex-sm-row flex-column  gap-2">
                
                <div id="position_{{position.uuid}}_first_cell_html"></div>


                <div id="position_{{position.uuid}}_td2_html"></div>
                <div id="position_{{position.uuid}}_td3_html"></div>
                <!-- <div id="position_{{position.uuid}}_td4_html"></div> -->

                <div id="position_{{position.uuid}}_td5_html"></div>
                <div id="position_{{position.uuid}}_td6_html"></div>

                
            </div>


            <div class="d-flex justify-content-between m-3  flex-sm-row flex-column  gap-2">



            
                <div>
                    <form method="POST">
                        {% csrf_token %}
                        <input name="position_uuid" value="{{position.uuid}}" hidden />
                        <button class="btn btn-primary btn-sm disable_while_busy" name="position_action_activate">
                            {% if position.active %}
                                Deactivate
                            {% else %}
                                Activate
                            {% endif %}
                        </button>
                    </form>
                </div>

                {% if position.active %}


                    

                    <div>

                        <button class="btn btn-danger btn-sm gas_sensetive_dom disable_while_busy" type="button" onclick="exit_position('{{position.uuid}}')"  name="position_action_exit_now">
                            Exit now
                        </button>

                    </div>
                            
                    <div>
                        <form method="POST" class="d-flex justify-content-between gap-1" >
                            {% csrf_token %}
                            <input name="position_uuid" value="{{position.uuid}}" hidden />
                            stop loss:
                            <input type="number" class="form-control form-control-sm" name="position_stop_loss_price" value="{{position.stop_loss_price}}" style="width: 100px;"  step="any"/>
                            <button class="btn btn-primary btn-sm disable_while_busy" name="position_action_set_stop_loss_price">Set</button>
                        </form>
                    </div>
                    
                    <div>
                        <form method="POST" class="d-flex justify-content-between gap-1">
                            {% csrf_token %}
                            <input name="position_uuid" value="{{position.uuid}}" hidden />
                            profit take exit price:
                            <input type="number" class="form-control form-control-sm" name="position_profit_take_price" value="{{position.profit_take_price}}" style="width: 100px;"  step="any"/>
                            <button class="btn btn-primary btn-sm disable_while_busy" name="position_action_set_profit_take_price">Set</button>
                        </form>
                    </div>
                    </div>

                                <div class="d-flex justify-content-between m-3  flex-sm-row flex-column  gap-2">

                    <div>
                        <form method="POST" class="d-flex justify-content-between gap-1">
                            {% csrf_token %}
                            <input name="position_uuid" value="{{position.uuid}}" hidden />
                            <select class="form-select form-select-sm" style="height: 30px; width: 160px;"  name="auto_exit_style"  required>
                                    {% for auto_exit_style in auto_exit_styles %}
                                        <option value="{{auto_exit_style}}" {% if position.auto_exit_style == auto_exit_style %} selected {% endif %}   >{% auto_exit_style_filter auto_exit_style %}</option>
                                    {% endfor %}
                            </select>
                            <button class="btn btn-warning btn-sm disable_while_busy" name="position_setting_auto_exit">set auto exit</button>
                        </form>
                    </div>
                {% else %}

                    <div>                                    
                        <p class="m-0"><strong>position is closed</strong>
                    </div>

                    <div>
                        <form method="POST">
                            {% csrf_token %}
                            <input name="position_uuid" value="{{position.uuid}}" hidden />
                            <button class="btn btn-warning btn-sm" name="position_action_archive">
                                Archive position
                            </button>
                        </form>
                    </div>

                    <div>
                        <p>Final Profit USD : <span class="small p-1 rounded {% if position.final_profit_usd > 0 %}  bg-success {% else %} bg-danger {% endif %} fs-6">{{position.final_profit_usd}}</span></p>
                    </div>
                {% endif %}

            </div>



            {% for transaction in position.order.transaction_set.all %}


                    
                    <div class="d-flex justify-content-between txrow border p-1 mb-1  flex-sm-row flex-column  gap-2">
                        <div>
                            <p class="m-0 fs-6"><strong>{{transaction.transaction_type}}</strong></p>
                            name: <a href="https://etherscan.io/tx/{{transaction.hash}}" target="_blank">{{transaction.name}}</a>
                            <br>
                            {% epoch_to_datetime transaction.epoch_created %}
                            <br>
                            fee: {{transaction.fee}}
                        </div>

                        {% if transaction.transaction_type in "uniswap_token_to_fiat,uniswap_fiat_to_token" %}

                            <div>
                                <div>slippage: {{transaction.slippage}}</div>
                                <div>token effective price: {{transaction.token_effective_price}}</div>
                                <div>token nominal price: {{transaction.token_nominal_price}}</div>
                            </div>
                        {% endif %}


                        {% if transaction.transaction_type == "uniswap_token_to_fiat" %}
                            <div>
                                <div>token amount spent: {{transaction.token_amount_spent}}</div>
                                <div>fiat amount received: {{transaction.fiat_amount_received}}</div>
                            </div>

                        {% elif transaction.transaction_type == "uniswap_fiat_to_token" %}
                            <div>
                                <div>fiat amount spent: {{transaction.fiat_amount_spent}}</div>
                                <div>token amount received: {{transaction.token_amount_received}}</div>
                            </div>

                        {% elif transaction.transaction_type == "aave_borrow" %}
                            <div>
                                <div>fiat amount borrowed: {{transaction.token_amount_spent}}</div>
                            </div>

                        {% elif transaction.transaction_type == "aave_repay" %}
                            <div>
                                <div>token amount repaid: {{transaction.token_amount_spent}}</div>
                            </div>

                            
                        {% endif %}
                        
                    </div>
                    
            {% endfor %}

        </div>



    {% endfor %}

    

    


<script>


    $(document).ready(function () {

        setup_ws_dashboard();

    })

</script>

{% endblock %}
