{% extends "dashboard/base.html" %}

{% load static %}


{% block basebody %}
{% load custom_tags %}

 

    

    <h3>Uniswap</h3>
    <div class="border rounded p-2 ">


        <form method="POST">
            {% csrf_token %}

            <button type="submit" name="uniswap_approve" class="btn btn-primary btn-sm m-1">Uniswap approve</button>

        </form>

        

        <form method="POST">
            {% csrf_token %}


            



            <div class="d-flex justify-content-start">

                <input  class="form-control form-control-sm"  style="width: 120px;" type="number" step="any" name="fiat_to_token_amount" value="1" required />

                <p class="mx-1 mt-1">Fiat to</p>


                {% include "dashboard/subtempelates/coins_template.html" %}

                    
                <button type="submit" name="fiat_to_token" class="btn btn-primary btn-sm m-1">Fiat to Token</button>

            </div>

            
            


        </form>

        <form method="POST">
            {% csrf_token %}


            <div class="d-flex justify-content-start">
                
                <input  class="form-control form-control-sm" type="number" style="width: 120px;" step="any" name="token_to_fiat_amount" value="0.000231957530" required />
                
                {% include "dashboard/subtempelates/coins_template.html" %}


                <p class="mx-1 mt-1">Token to fiat</p>

                <button type="submit" name="fiat_to_token" class="btn btn-primary btn-sm m-1">Token to fiat</button>
            </div>

        </form>


        <form method="POST">
            {% csrf_token %}


            <div class="d-flex justify-content-start">
                
                <input  class="form-control form-control-sm" type="number" style="width: 120px;" step="any" name="eth_amount_to_wrap" value="0.001" required />
                
                <button type="submit" class="btn btn-primary btn-sm m-1">Wrap eth</button>
            </div>

        </form>



        <form method="POST">
            {% csrf_token %}


            <div class="d-flex justify-content-start">
                
                <input  class="form-control form-control-sm" type="number" style="width: 120px;" step="any" name="weth_amount_to_unwrap" value="0.001" required />
                
                <button type="submit" class="btn btn-primary btn-sm m-1">Unwrap weth</button>
            </div>

        </form>



    </div>


    
    <h3 class="mt-5">Aave</h3>
    <div class="border rounded p-2 ">


        <form method="POST" class="mb-2">
            {% csrf_token %}

            <div class="d-flex justify-content-start">

                <button type="submit" name="aave_approve" class="btn btn-primary btn-sm m-1">Aave approve</button>

            </div>

        </form>

        <form method="POST" class="mb-2">
            {% csrf_token %}

            <div class="d-flex justify-content-start">

                <input  class="form-control form-control-sm"  style="width: 120px;" type="number" step="any" name="aave_supply_amount" value="0.0002" required />

                <button type="submit"  class="btn btn-primary btn-sm m-1">Supply collateral</button>

            </div>

        </form>


        <form method="POST" class="mb-2">
            {% csrf_token %}

            <div class="d-flex justify-content-start">

                <input  class="form-control form-control-sm"  style="width: 120px;" type="number" step="any" name="aave_withdraw_amount" value="0.0002" required />

                <button type="submit"  class="btn btn-primary btn-sm m-1">Withdraw collateral</button>

            </div>

        </form>



        <form method="POST" class="mb-2">
            {% csrf_token %}

            <div class="d-flex justify-content-start">

                <input  class="form-control form-control-sm"  style="width: 120px;" type="number" step="any" name="aave_borrow_amount" value="0.0002" required />

                <button type="submit"  class="btn btn-primary btn-sm m-1">Borrow</button>

            </div>

        </form>



        <form method="POST" class="mb-2">
            {% csrf_token %}

            <div class="d-flex justify-content-start">

                <input  class="form-control form-control-sm"  style="width: 120px;" type="number" step="any" name="aave_repay_amount" value="0.0002" required />

                <button type="submit"  class="btn btn-primary btn-sm m-1">Repay</button>

            </div>

        </form>


    </div>


<script>


    $(document).ready(function () {

        setup_ws_dashboard();

    })

</script>

{% endblock %}
