{% extends "dashboard/base.html" %}

{% load static %}


{% block basebody %}
{% load custom_tags %}

 

    
    <!-- MAIN -->
    <div class="col-10">


        <!-- MANUAL OPERATIONS -->
        <h1>Manual Operations</h1>
        <div class="border rounded p-2 ">


            <form method="POST">
                {% csrf_token %}


                



                <div class="d-flex justify-content-start">

                    <input  class="form-control form-control-sm"  style="width: 120px;" type="number" step="any" name="fiat_to_token_amount" value="1" required />

                    <p class="mx-1 mt-1">Fiat to</p>


                    {% include "dashboard/subtempelates/coins_template.html" %}

                        
                    <button type="submit" name="fiat_to_token" class="btn btn-primary btn-sm m-1">Fiat to Token</button>

                </div>

                
                


            </form>

            <form method="POST">
                {% csrf_token %}


                <div class="d-flex justify-content-start">
                    
                    <input  class="form-control form-control-sm" type="number" style="width: 120px;" step="any" name="token_to_fiat_amount" value="0.000231957530" required />
                    
                    {% include "dashboard/subtempelates/coins_template.html" %}


                    <p class="mx-1 mt-1">Token to fiat</p>

                    <button type="submit" name="fiat_to_token" class="btn btn-primary btn-sm m-1">Token to fiat</button>
                </div>

            </form>


            <form method="POST">
                {% csrf_token %}


                <div class="d-flex justify-content-start">
                    
                    <input  class="form-control form-control-sm" type="number" style="width: 120px;" step="any" name="eth_amount_to_wrap" value="0.001" required />
                    
                    <button type="submit" class="btn btn-primary btn-sm m-1">Wrap eth</button>
                </div>

            </form>



            <form method="POST">
                {% csrf_token %}


                <div class="d-flex justify-content-start">
                    
                    <input  class="form-control form-control-sm" type="number" style="width: 120px;" step="any" name="weth_amount_to_unwrap" value="0.001" required />
                    
                    <button type="submit" class="btn btn-primary btn-sm m-1">Unwrap weth</button>
                </div>

            </form>



        </div>


    </div>

    <!-- EVENTS -->
    <div class="col-2">
        <textarea class="form-control" id="logger_textarea" rows="90"></textarea>

    </div>
    


<script>


    $(document).ready(function () {

        setup_ws_dashboard();

    })

</script>

{% endblock %}
