{% extends "dashboard/base.html" %}

{% load static %}


{% block basebody %}
{% load custom_tags %}

 
    


    <!-- NEW Order -->
    <h1 class="mt-5">New Order</h1>

                <div class="d-flex justify-content-start gap-2">
                    <p id="most_recent_quote"></p>
                    <button type="button"  class="btn btn-primary btn-sm ms-3" onclick="update_both_way_quotes();">Quote</button>
                </div>


    <div class="border rounded p-2 mt-2 mb-5 ">
        
        <form method="POST">
            {% csrf_token %}

            <div class="d-flex justify-content-between gap-2 flex-sm-row flex-column ">

                <div class="d-flex justify-content-start">
                    <p class="me-2 mt-2">Name:</p>
                    <input type="text" class="form-control form-control-sm" name="new_order_name" value="{{new_random_name}}" required/>
                </div>

                <div >


                </div>
            </div>

            <div class="d-flex justify-content-between gap-2 flex-sm-row flex-column border rounded p-2 mt-5">
                <h4 id="long_label" class="">Long</h4>



                <div>
                    <div class="d-flex justify-content-start">
                        <p class="me-2 mt-2">Entry price:</p>
                        <input type="number" class="form-control form-control-sm"  step="any" min="0" value="{{new_position_entry_price}}" name="entry_price_long" id="entry_price_long" style="width: 90px;"/>
                    </div>
                        <select class="form-select ms-1" name="entry_condition_long" style="width: 290px;">
                            {% for order_entry_condition in entry_conditions %}
                                <option value="{{order_entry_condition}}" {% if order_entry_condition == 'execute_if_price_is_above' %} selected {% endif %}>{{order_entry_condition}}</option>
                            {% endfor %}
                        </select>
                </div>
                    

                <div class="d-flex justify-content-start" > 
                    <p class="me-2 mt-2">Long capital:</p>
                    <input type="number" class="form-control form-control-sm" name="entry_capital_long" id="entry_capital_long" step="any" value="2000" style="width: 100px;"  required/>
                </div>

                <div class="d-flex justify-content-start" > 
                    <p class="me-2 mt-2">Long stop loss:</p>
                    <input type="number" class="form-control form-control-sm" name="stop_loss_price_long"  id="stop_loss_price_long" step="any"  value="{{new_position_long_stop_loss}}" style="width: 90px;" required/>
                </div>

                <div class="d-flex justify-content-start">
                    <p class="me-2 mt-2">Long profit take:</p>
                    <input type="number" class="form-control form-control-sm" name="profit_take_price_long"  id="profit_take_price_long" step="any"  value="{{new_position_long_profit_take}}" style="width: 90px;" required/>
                </div>

            </div>

            
            <div class="d-flex justify-content-between gap-2 flex-sm-row flex-column ">
                <p id="long_ambition_ratio"></p>
                <p id="long_loss_at_stop_loss"></p>
                <p id="long_profit_at_take_profit"></p>
            </div>

            
            <div class="d-flex justify-content-between gap-2 flex-sm-row flex-column border rounded p-2 mt-5">
                <h4 id="short_label" class="">Short</h4>


                <div>
                    <div class="d-flex justify-content-start">
                        <p class="me-2 mt-2">Entry price:</p>
                        <input type="number" class="form-control form-control-sm"  step="any" min="0" value="{{new_position_entry_price}}" name="entry_price_short" id="entry_price_short" style="width: 90px;"/>
                    </div>
                        <select class="form-select ms-1" name="entry_condition_short" style="width: 290px;">
                            {% for order_entry_condition in entry_conditions %}
                                <option value="{{order_entry_condition}}" {% if order_entry_condition == 'execute_if_price_is_below' %} selected {% endif %}>{{order_entry_condition}}</option>
                            {% endfor %}
                        </select>
                </div>
                    
                <div class="d-flex justify-content-start" > 
                    <p class="me-2 mt-2">Short capital:</p>
                    <input type="number" class="form-control form-control-sm" name="entry_capital_short" id="entry_capital_short" step="any" value="2000" style="width: 100px;"  required/>
                </div>

                <div class="d-flex justify-content-start" > 
                    <p class="me-2 mt-2">Short stop loss:</p>
                    <input type="number" class="form-control form-control-sm" name="stop_loss_price_short"  id="stop_loss_price_short" step="any"  value="{{new_position_short_stop_loss}}" style="width: 90px;" required/>
                </div>

                <div class="d-flex justify-content-start">
                    <p class="me-2 mt-2">Short profit take:</p>
                    <input type="number" class="form-control form-control-sm" name="profit_take_price_short"  id="profit_take_price_short" step="any"  value="{{new_position_short_profit_take}}" style="width: 90px;" required/>
                </div>

            </div>

            
            <div class="d-flex justify-content-between gap-2 flex-sm-row flex-column ">
                <p id="short_ambition_ratio"></p>
                <p id="short_loss_at_stop_loss"></p>
                <p id="short_profit_at_take_profit"></p>
            </div>

            
            <div class="d-flex justify-content-between gap-2 mt-5 border rounded flex-sm-row flex-column ">
                <p id="total_profit_if_price_goes_up"></p>
                <p id="total_profit_if_price_goes_down"></p>
            </div>




                



            <div class="d-flex justify-content-end mt-2">

                <select class="form-select form-select-sm me-2" name="which_order" id="which_order" style="width: 200px;" required>
                    <option         selected></option>
                    <option value="both"    >Both long and short</option>
                    <option value="long"    >Only long          </option>
                    <option value="short"   >Only short         </option>
                </select>
                <button class="btn btn-success btn-sm gas_sensetive_dom">Place order</button>
            </div>

                
        </form>

    </div>


    <div id="new_order_profit_loss_overlook_plot"></div>


    <!-- ORDERS -->
    <h1>Orders ({{orders|length}})</h1>
    
    {% for order in orders %}

            <div class="border rounded p-2 mb-5">

                <form method="POST" >
                    {% csrf_token %}

                    <input type="text" name="update_order" hidden>
                    <input type="text" name="order_uuid" value="{{order.uuid}}" hidden>

                    <div class="d-flex justify-content-between  flex-sm-row flex-column gap-2">

                        <div>
                            <input type="text" class="form-control form-control-sm" name="order_action_set_name" value="{{order.name}}" style="width: 200px;"/>
                            <p class="small m-0">{{order.position_type}}ing {{order.coin}}</p>
                            <p class="small m-0">Entry condition: {{order.entry_condition}}</p>
                            <p class="small m-0">Active: {{order.active}}</p>
                            <p class="small m-0">Executed: {{order.executed}}</p>
                            <p class="small m-0">Fulfilled: {{order.fulfilled}}</p>
                        </div>

                        <div>
                            <p>entry capital:</p>
                            <input type="number" class="form-control form-control-sm" name="order_action_set_entry_capital" value="{{order.entry_capital}}" style="width: 100px;"  step="any"/>
                        </div>


                        <div>
                            <p>order price:</p>
                            <input type="number" class="form-control form-control-sm" name="order_action_set_order_entry_price" value="{{order.order_entry_price}}" style="width: 100px;"  step="any"/>

                        </div>
                    </div>
                    <div class="d-flex justify-content-between  flex-sm-row flex-column gap-2">

                        <div>
                            <p>profit_take_price:</p>
                            <input type="number" class="form-control form-control-sm" name="order_action_set_profit_take_price" value="{{order.profit_take_price}}" style="width: 100px;"  step="any"/>
                        </div>

                        <div>
                            <p>stop_loss_price:</p>
                            <input type="number" class="form-control form-control-sm" name="order_action_set_stop_loss_price" value="{{order.stop_loss_price}}" style="width: 100px;"  step="any"/>
                        </div>

                        <button class="btn btn-primary btn-sm m-1" >set</button>

                    </div>


                    
                </form>



                <div class="d-flex justify-content-start border rounded p-1 gap-2 flex-sm-row flex-column ">

                    <!-- <form method="POST"> -->
                        <!-- {% csrf_token %} -->
                        <!-- <input type="text" name="order_uuid" value="{{order.uuid}}" hidden> -->
                        {% if order.active %}
                            
                            <button type="button" class="btn btn-primary btn-danger btn-sm m-1 disable_while_busy"  onclick="execute_order('{{order.uuid}}')">Execute now</button>


                        {% endif %}
                    <!-- </form> -->


                    {% if order.executed %}
                        <form method="POST">
                            {% csrf_token %}
                            <input type="text" name="order_uuid" value="{{order.uuid}}" hidden>

                            <button class="btn btn-primary btn-warning btn-sm m-1" name="order_archive">Archive order</button>
                        </form>

                    {% else %}
                        <form method="POST">
                            {% csrf_token %}
                            <input type="text" name="order_uuid" value="{{order.uuid}}" hidden>

                            <button class="btn btn-primary btn-danger btn-sm m-1" name="order_delete">Delete order</button>
                        </form>

                            

                        <form method="POST">
                            {% csrf_token %}
                            <input type="text" name="order_uuid" value="{{order.uuid}}" hidden>
                            {% if order.active %}
                                <button class="btn btn-primary  btn-success btn-sm m-1" name="order_deactivate">Deactivate order</button>
                            {% else %}
                                <button class="btn btn-primary btn-secondary btn-sm m-1" name="order_activate">Activate order</button>

                            {% endif %}
                        </form>

                        
                    {% endif %}



                </div>

            </div>


    {% endfor %}





    
    <script>


        $(document).ready(function () {

            setup_ws_dashboard();

        })

    </script>


    



{% endblock %}
